body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1606647352524-86d835bf9d5b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.box{
    width: 45vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(9, 100, 70);
    border-radius: 10px;
    gap: 8px;
}
.heading{
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: whitesmoke;  
}
.description1{ 
    margin: 0;
    color: bisque;
    font-size: 18px;
}
.search-bar{
    margin-top: 2rem;   
}
.search-bar input{
    padding: 10px;
    width: 30vw;
    border: 2px solid #ccc; 
    border-radius: 0;
    outline: none; 
    font-size: 18px;  
}
.search-bar button{
 padding: 10px 20px;
 font-size: 18px;
 border: 2px solid #ccc;
 border-left: none;
 border-radius: 0; 
 outline: none; 
 cursor: pointer;
 color: rgb(69, 70, 73);
}
.button:hover{
    background-color: rgb(49, 101, 84);
    color: white;
}
.lowerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.city{
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
 img{
    height: 150px;
    width: 150px;
}
.temperature{
 font-size: 28px;
 font-weight: 650;
}
.description2{ 
    margin-top: 18px;
    color: bisque;
}
.errmsg, .displaymsg{
    margin: auto;
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
}
@media all and (max-width:1023px){
    .box{
        width: 60vw;
        border-radius: 7px;
        gap: 7px;
    }
    .heading{
        margin-top: 2.5rem;
        font-size: 27px;
    }
    .description1{ 
        font-size: 17px;
    }
    .search-bar{
        margin-top: 1.7rem;   
    }
    .search-bar input{
        padding: 9px;
        width: 30vw;
        font-size: 16px;  
    }
    .search-bar button{
     padding: 9px 19px;
     font-size: 16px;
    }
    .city{
        font-size: 17px;
        margin-top: 1.5rem;
    }
     img{
        height: 130px;
        width: 130px;
    }
    .temperature{
     font-size: 24px;
     font-weight: 650;
    }
    .description2{ 
        margin-top: 17px;
        color: bisque;
    }.errmsg, .displaymsg{
        font-size: 17px;
    }
}
@media all and (max-width:767px){
    .box{
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: rgb(9, 100, 70);
        border-radius: 5px;
        gap: 6px;
    } 
    .heading{
        margin-top: 2rem;
        font-size: 24px; 
    }
    .description1{ 
        font-size: 16px;
        padding: 6px;
        text-align: center;
    }
    .search-bar{
        margin-top: 1.5rem; 
    }
    .search-bar input{
        padding: 8px;
        width: 35vw;
        border: 1px solid #ccc; 
        font-size: 0.9rem;  
    }
    .search-bar button{
     padding: 8px 7px;
     font-size: 0.9rem;
     border: 1px solid #ccc;
    }
    .city{
        font-size: 16px;
        font-weight: bold;
        margin-top: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
    }
     img{
        height: 120px;
        width: 120px;
    }
    .temperature{
     font-size: 22px;
     font-weight: 650;
    }
    .description2{ 
        margin-top: 16px;
        color: bisque;
    }
.errmsg, .displaymsg{
    font-size: 16px;
}
}

